body{
    background-image: url("inazumaa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.aboutme{
    width: 450px;
    margin-left: 100px;
    padding-top: 180px;
    text-align: left;
}
.nama{
    color:lightskyblue;
    font-family: cursive;
}
.descript{
    color: white;
    font-family:'Lucida Sans Unicode', sans-serif;
    
}
img.foto{
    border-radius: 50%;
    width: 250px;
    float: right;
    margin-right: 290px;
    margin-top: 150px;
}
.font{
    list-style-type: none;
}